<!-- File Name: error.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 29 Oct 2022
  Descritption: Add for Assignment 2
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
